 'Your tracking id is <span id="trackingId"></span>. Try refreshing the page.
Looks like you\'ve been tagged, even without cookies.'
<br/>
<br/>

document.getElementById("trackingId").innerHTML = trackingId

